<div class="contextual">
	<%= link_to(l(:label_feedback_new),new_feedback_path(),:class => 'icon icon-add' ) + ' |'%>
	<%= link_to(l(:label_feedback_my), feedbacks_my_path) + ' |'  %>
	<%= link_to(l(:label_all_feedback), feedbacks_path) %>
</div>